:root{

    /* Body */

    --body-background-dark: rgb(5, 6, 20);
    --body-background-light: #ffffff;
    --body-background-default: var(--body-background-light);

    /* Text */

    /* imageBack */
    --background-image-dark: url(../public/images/bg-dark.jpg);
    --background-image-default: var(--background-image-light);
    --background-image-light: url(../public/images/bg.jpg);


    --text-dark: rgb(255, 255, 255);
    --text-light: rgb(48, 46, 46);
    --text-default: var(--text-light);

    /* Cards */

    --card-background-light: #ffffffcc;
    --card-background-dark: rgba(0, 2, 31, 0.74);
    --card-background-default: var(--card-background-light);

    /* Buttons */

    --button-background-light: #87af9e;
    --button-background-dark: rgb(0, 4, 54);
    --button-background-default: var(--button-background-light);

    --buttonActive-background-light: #6c8d7f;
    --buttonActive-background-dark: rgb(0, 4, 54);
    --buttonActive-background-default: var(--buttonActive-background-light);

    --buttonHover-background-light: #6c8d7f;
    --buttonHover-background-dark: rgb(0, 4, 54);
    --buttonHover-background-default: var(--buttonHover-background-light);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    background-color: var(--body-background-default);
    color: var(--text-default);
    font-family: 'Comfortaa', cursive;
    background: var(--background-image-default);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.p-2 .card{
    background-color: var(--card-background-default);
    color: var(--text-default);
}

.card{
    background-color: var(--card-background-default);
    color: var(--text-default);
}

.btn{
    background-color: var(--buttonHover-background-default);
    border: none;
}

.btn:focus{
    background-color: var(--buttonActive-background-default);
    border: none;
}

.btn:hover{
    background-color: var(--button-background-default);
    border: none;
}

.navbar{
    color: var(--text-default) !important;
}

a.navbar-brand{
    color: var(--text-default) !important;
}

span{
    color: var(--text-default) !important; 
}